.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
    margin-bottom: 30px;
}

.title{
    display: flex;
    flex-direction: row;

    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 10px;
}

.titleRed{
    margin-right: 18px;
    color: #EC5863;
}

.subtitle{
    margin-right: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #616161;
}




.rectangle1{
    margin-left: 76px;
   margin-bottom: -20px;
}

.rectangle2{
    margin-left: 190px;
    margin-bottom: 130px;
}

.rectangle3{
    margin-left: 260px;
    margin-bottom: -30px;
}

.rectangle4{
    margin-left: 170px;
    margin-bottom: 220px;
}


.icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: -320px;
}
.icon{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    margin: 60px 60px;
    background: white;
}

.iconSmall{
    width: 55px;
    height: 55px;
    color: #EC5863;
    margin: 40px 20px ;
}


.title1{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.subtitle1{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #616161;
    margin: 10px 20px 40px 20px;

}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.google{
    width: 160px;
    height: 57px;
    margin-top: 5px;
    margin-right: 35px;
}

@media screen and (max-width: 850px){
    .text{
        margin-top: 65px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .title{
        display: flex;
        flex-direction: column;

        font-size: 28px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .subtitle{
        margin-right: 20px;
        margin-left: 5px;
        font-size: 11px;
    }

    .rectangles{
       display: none;
    }

    .icons{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .icon{
        margin: 20px 45px;
    }

    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .google{
        margin-top: 5px;
        margin-left: 35px;
    }
}

