.body{
    display: flex;
    flex-direction: column;
    background: #FAFBFD;
    margin-top: 20px;
}

.rectangles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.image1{
    display: flex;
    margin-top: 119px;
    margin-left: 25px;
    width: 68px;
    height: 68px;
}

.image2{
    display: flex;
    margin-top: 13px;
    margin-left: 140px;
    width: 105px;
    height: 105px;
}

.image3{
    display: flex;
    margin-top: 49px;
    margin-left: 200px;
    width: 130px;
    height: 130px;
}


.secondBlock{
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0px 12px 70px;
}

.title{
    display: flex;
    flex-direction: row;

    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
}

.titleBlue{
    color: #4285F4;
    margin-left: 8px;
}

.subtitle{
    margin-right: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #616161;
}

.button{
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    margin-top: 38px;

    background: #EC5863;
    color: white;
    padding: 14px 29px;
    border-radius: 5px;
    border-color: transparent;
}

.button:hover{
    border-color: red;
    cursor: pointer;
}

.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: -130px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 25px;
    background: white;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
}

.column{
    display: flex;
    flex-direction: column;
}

.columnDifferent1{
    display: flex;
    flex-direction: column;
    margin-right: 81px ;
    margin-left: 104px;
}

.columnDifferent2{
    display: flex;
    flex-direction: column;
    margin-right: 99px ;
    margin-left: 79px;
}

.columnTitle{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    color: #EC5863;
}

.columnSubtitle{
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
}

.video{
    display: flex;
    width: 400px;
    max-height: 130px;
    margin: 86px 100px 280px 104px;
}

@media screen and (max-width: 850px){
    .body{
        display: flex;
        flex-direction: column;
        background: transparent;
    }

    .rectangles{
        display: none;
    }

    .secondBlock{
        display: flex;
        flex-direction: column;
    }

    .text{
        margin-left: 20px;
    }

    .title{
        display: flex;
        flex-direction: row;
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle{
        margin-right: 20px;
        margin-top: 20px;
        font-size: 11px;
    }

    .news{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding: 10px;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .column{
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 105px;
    }

    .columnDifferent1{
        margin-left: 110px;
        margin-right: 0px;
    }

    .columnDifferent2{
        margin-right: 0px ;
        margin-left: 69px;
    }
    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 36px 20px 60px 14px;
    }
    .video{
        width: 290px;
        max-height: 290px;
    }
}



