.background{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.firstBlock{
    display: flex;
    flex-direction: column;
    margin-top: -58%;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

.icon{
    display: flex;
    color: #EC5863;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.go{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: black;
}

.corona {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #EC5863;
}

.links{
    display: flex;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.14em;
    text-align: right;
}

.link {
    margin-right: 40px;
    cursor: pointer;
}

.button{
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;

    margin-right: 45px;
    border-color: #4285F4;
    display: flex;
    align-items: center;
    background: #4285F4;
    border-radius: 5px;
    color: white;
    padding: 8px 21px;
    cursor: pointer;
}



.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 170px 0px 12px 70px;
}

.title{
    display: flex;
    flex-direction: row;

    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
}

.titleBlue{
    color: #4285F4;
    margin-left: 8px;
}

.subtitle{
    margin-left: 70px;
    margin-right: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #616161;
}

.buttonRed{
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    margin-left: 70px;
    margin-top: 38px;

    background: #EC5863;
    color: white;
    padding: 14px 29px;
    border-radius: 5px;
    border-color: transparent;
}

.buttonRed:hover{
    border-color: red;
    cursor: pointer;
}

.image{
    display: flex;
    height: 350px;
    width: 470px;
    margin-top: 100px;
    margin-right: 100px;
}

.play{
    display: flex;
    flex-direction: row;
    margin: 90px 70px;
}

.playVideos{
    cursor: pointer;
}

.playVideo{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.videoTitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #B0B0B0;
    margin-top: 5px;
}

.video{
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase;
    margin-top: 5px;

}

@media screen and (max-width: 850px){
    .background{
        display: none;
    }

    .firstBlock{
        margin-top: 20px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 45px;
        margin-top: 20px;
    }

    .logo{
        margin-left: -120px;
        margin-right: 50px;
    }

    .block{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 20px;
    }

    .text{
        margin-top: -85px;
        margin-right: 30px;
        margin-left: 0px

    }

    .title{
        font-size: 29px;
        line-height: 29px;
    }

    .subtitle{
        font-size: 11px;
        margin-left: 0px
    }

    .buttonRed{
        padding: 12px 22px;
        margin-left: 0px
    }

    .image{
        margin-top: 80px;
        margin-right: 20px;
        margin-left: 20px;
        height: 350px;
        width: 0px;
    }

    .imageSmall{
        width: 220px;
        height: 190px;
    }

    .play{
        margin-left: 20px;
    }
}