.block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rectangle{
    display: flex;
    margin-top: 79px;
    margin-left: 70px;
}

.rectangle1{
    display: flex;
    margin-top: 210px;
    margin-left: 340px;
}

.rectangle2{
    display: flex;
    margin-top: 30px;
    margin-left: 102px;
}

.image{
    margin-top: -510px;
    margin-left: 111px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 149px;
}

.title{
    display: flex;
    flex-direction: row;

    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
}

.titleRed{
    color: #EC5863;
}

.subtitle{

    margin-right: 60px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #616161;
}

.button{
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    margin-top: 38px;

    background: #EC5863;
    color: white;
    padding: 14px 29px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}

.button:hover{
    border-color: red;
}

@media screen and (max-width: 850px){
    .block{
        display: flex;
        flex-direction: column;
    }

    .rectangle{
        margin-top: 2px;
        margin-left: 15px;
    }

    .rectangle1{
        display: none;
    }

    .rectangle2{
        margin-top: 340px;
        margin-left: 255px;
    }

    .image{
        margin-top: -530px;
        margin-left: 30px;
    }

    .text{
        margin-top: 40px;
        margin-left: 20px;
    }

    .title{
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    .subtitle{
        margin-top: 22px;
        font-size: 11px;
    }

}